#main2{
    display: none;
    
}
/* #main1 {
    font-size: 10px;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    position: relative;
    text-indent: -9999em;
    animation: mulShdSpin 1.1s infinite ease;
    transform: translateZ(0);
  }
  @keyframes mulShdSpin {
    0%,
    100% {
      box-shadow: 0em -2.6em 0em 0em #ffffff, 1.8em -1.8em 0 0em rgba(255,255,255, 0.2), 2.5em 0em 0 0em rgba(255,255,255, 0.2), 1.75em 1.75em 0 0em rgba(255,255,255, 0.2), 0em 2.5em 0 0em rgba(255,255,255, 0.2), -1.8em 1.8em 0 0em rgba(255,255,255, 0.2), -2.6em 0em 0 0em rgba(255,255,255, 0.5), -1.8em -1.8em 0 0em rgba(255,255,255, 0.7);
    }
    12.5% {
      box-shadow: 0em -2.6em 0em 0em rgba(255,255,255, 0.7), 1.8em -1.8em 0 0em #ffffff, 2.5em 0em 0 0em rgba(255,255,255, 0.2), 1.75em 1.75em 0 0em rgba(255,255,255, 0.2), 0em 2.5em 0 0em rgba(255,255,255, 0.2), -1.8em 1.8em 0 0em rgba(255,255,255, 0.2), -2.6em 0em 0 0em rgba(255,255,255, 0.2), -1.8em -1.8em 0 0em rgba(255,255,255, 0.5);
    }
    25% {
      box-shadow: 0em -2.6em 0em 0em rgba(255,255,255, 0.5), 1.8em -1.8em 0 0em rgba(255,255,255, 0.7), 2.5em 0em 0 0em #ffffff, 1.75em 1.75em 0 0em rgba(255,255,255, 0.2), 0em 2.5em 0 0em rgba(255,255,255, 0.2), -1.8em 1.8em 0 0em rgba(255,255,255, 0.2), -2.6em 0em 0 0em rgba(255,255,255, 0.2), -1.8em -1.8em 0 0em rgba(255,255,255, 0.2);
    }
    37.5% {
      box-shadow: 0em -2.6em 0em 0em rgba(255,255,255, 0.2), 1.8em -1.8em 0 0em rgba(255,255,255, 0.5), 2.5em 0em 0 0em rgba(255,255,255, 0.7), 1.75em 1.75em 0 0em #ffffff, 0em 2.5em 0 0em rgba(255,255,255, 0.2), -1.8em 1.8em 0 0em rgba(255,255,255, 0.2), -2.6em 0em 0 0em rgba(255,255,255, 0.2), -1.8em -1.8em 0 0em rgba(255,255,255, 0.2);
    }
    50% {
      box-shadow: 0em -2.6em 0em 0em rgba(255,255,255, 0.2), 1.8em -1.8em 0 0em rgba(255,255,255, 0.2), 2.5em 0em 0 0em rgba(255,255,255, 0.5), 1.75em 1.75em 0 0em rgba(255,255,255, 0.7), 0em 2.5em 0 0em #ffffff, -1.8em 1.8em 0 0em rgba(255,255,255, 0.2), -2.6em 0em 0 0em rgba(255,255,255, 0.2), -1.8em -1.8em 0 0em rgba(255,255,255, 0.2);
    }
    62.5% {
      box-shadow: 0em -2.6em 0em 0em rgba(255,255,255, 0.2), 1.8em -1.8em 0 0em rgba(255,255,255, 0.2), 2.5em 0em 0 0em rgba(255,255,255, 0.2), 1.75em 1.75em 0 0em rgba(255,255,255, 0.5), 0em 2.5em 0 0em rgba(255,255,255, 0.7), -1.8em 1.8em 0 0em #ffffff, -2.6em 0em 0 0em rgba(255,255,255, 0.2), -1.8em -1.8em 0 0em rgba(255,255,255, 0.2);
    }
    75% {
      box-shadow: 0em -2.6em 0em 0em rgba(255,255,255, 0.2), 1.8em -1.8em 0 0em rgba(255,255,255, 0.2), 2.5em 0em 0 0em rgba(255,255,255, 0.2), 1.75em 1.75em 0 0em rgba(255,255,255, 0.2), 0em 2.5em 0 0em rgba(255,255,255, 0.5), -1.8em 1.8em 0 0em rgba(255,255,255, 0.7), -2.6em 0em 0 0em #ffffff, -1.8em -1.8em 0 0em rgba(255,255,255, 0.2);
    }
    87.5% {
      box-shadow: 0em -2.6em 0em 0em rgba(255,255,255, 0.2), 1.8em -1.8em 0 0em rgba(255,255,255, 0.2), 2.5em 0em 0 0em rgba(255,255,255, 0.2), 1.75em 1.75em 0 0em rgba(255,255,255, 0.2), 0em 2.5em 0 0em rgba(255,255,255, 0.2), -1.8em 1.8em 0 0em rgba(255,255,255, 0.5), -2.6em 0em 0 0em rgba(255,255,255, 0.7), -1.8em -1.8em 0 0em #ffffff;
    }
  } */
body{
  background-image: url(./RES/GettyImages-982603808-5c83313846e0fb0001136650.jpg);
}
  #main1{
    justify-content: center;
    text-align: center;
    align-content: center;
    display: inline-block;
    font-size:48px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #fff;
    position: relative
  }

#main1::before{
  justify-content: center;
  text-align: center;
  align-content: center;
  content: '';
  position: absolute;
  left: 285px;
  bottom: 8px;
  width: 30px;
  height: 30px;
border-radius: 50%;
border: 5px solid #fff;
border-bottom-color:#ff3d00 ;
box-sizing: border-box;
animation:  rotation 0.6s linear infinite;
}
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} 
#div1{
  display: flex;
 align-items: center;
 justify-content: center;
 text-align: center;
 padding: 20px;
}
#div1a{
  background-color: #ff3d00;
  width: 90px;
  height: 150px;
  border-radius: 45px;
  image-resolution: 100px;
}
#div1b{
  background-color: transparent;
  color: gray;
  margin-left: 100px;

}
#div2{
  display: flex;
  color: white;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: none;
  opacity: 0.4;
}
ul:hover {
  background-color: transparent;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: none;
}
.lie{
  opacity: 1;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: transparent;
}
#div2aa{
  color: white;
  background-color: navy;
  opacity: 0.2;
  width: 100px;
  height: 50px;
  padding-left: 260px;
}
#div2aa:hover{
  color: white;
  background-color: rgb(105, 105, 231);
  opacity: 0.2;
  width: 100px;
  height: 50px;
  padding-left: 260px;
}
#div2a{
  color: white;
  background-color: navy;
  opacity: 0.2;
  width: 100px;
  height: 50px;
  padding-left: 260px;
}
#div2a:hover{
  color: white;
  background-color: rgb(105, 105, 231);
  opacity: 0.2;
  width: 100px;
  height: 50px;
  padding-left: 260px;
}
#div2b{
  color: white;
  background-color: navy;
  opacity: 0.2;
  width: 100px;
  height: 50px;
  padding-left: 260px;
}

#div2b:hover{
  color: white;
  background-color:rgb(105, 105, 231) ;
  opacity: 0.2;
  width: 100px;
  height: 50px;
  padding-left: 260px;
}

#div2c{
  color: white;
  background-color: navy;
  opacity: 0.2;
  width: 100px;
  height: 50px;
  padding-left: 260px;
}

#div2c:hover{
  color: white;
  background-color: rgb(105, 105, 231);
  opacity: 0.2;
  width: 100px;
  height: 50px;
  padding-left: 260px;
}
.Album{
  background-color: rgb(105, 105, 231);
  opacity: 0.3;
  display:"none";
  color: white;
}
.tracks{
  background-color: black;
  color: grey;
 height: 40px;
 padding: 10px;
 display: none;
 border: none;
}
/* .track1{
  background-color: black;
  color: white;
 height: 40px;
 padding: 10px;
 display: none;
 border: none;
}
.track1{
  background-color: black;
  color: white;
 height: 40px;
 padding: 10px;
 display: none;
 border: none;
} */
.tracks{
  background-color: black;
  color: white;
 height: 40px;
 padding: 10px;
 display: none;
 border: none;
}
input{
  padding: 10px;
  width: 80px;
  border-radius: 10px;
}
input:hover{
  background-color: transparent;
  width: 80px;
  border-radius: 10px;
}
.tracks{
  background-color: black;
  color: white;
 height: 40px;
 padding: 10px;
 display: none;
 border: none;
}
.tracks:hover{
  background-color: purple;
  color: white;
 height: 40px;
 padding: 15px;
 display: none;
}
#track{
  background-color: rgba(0, 0, 0, 0.349);
 color: grey;
 height: 40px;
 padding: 10px;
 margin-top: 50px;
}

#track:hover{
  background-color: rgb(90, 86, 86);
  border-color: #FF3D00;
 color: white;
 opacity: 0.3;
 height: 40px;
 padding: 15px;
 border-width: 5px;
}
.flat-color-icons--music {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48'%3E%3Cg fill='%23E91E63'%3E%3Ccircle cx='19' cy='33' r='9'/%3E%3Cpath d='M24 6v27h4V14l11 3v-7z'/%3E%3C/g%3E%3C/svg%3E");
  padding: 10px;
}
#Albumname{
  background-color: navy;
  margin-left: 100px;
  width: 100px;
  height: 100px;
  display: none;
  border-radius: 10px;
  padding: 20px;
  opacity: 0.3;
  color: white;

}
#Albumname:hover{
  background-color: rgb(73, 73, 238);
  margin-left: 100px;
  width: 100px;
  height: 100px;
  display: none;
  border-radius: 10px;
  padding: 20px;
  opacity: 0.3;
  color: white;

}

#Hiphop{
  background-color: navy;
  margin-left: 100px;
  width: 100px;
  height: 100px;
  display: none;
  display: none;
  border-radius: 10px;
  padding: 20px; 
  opacity: 0.3;
  color: white;

}
#Hiphop:hover{
  background-color: rgb(73, 73, 238);
  margin-left: 100px;
  width: 100px;
  height: 100px;
  display: none;
  display: none;
  border-radius: 10px;
  padding: 20px;
  opacity: 0.3; 
  color: white;
}
#Art{
  background-color: navy;
  margin-left: 100px;
  width: 100px;
  height: 100px;
  display: none; 
  display: none;
  border-radius: 10px;
  padding: 20px;
  opacity: 0.3;
  color: white;

}

#Art:hover{
  background-color:rgb(73, 73, 238);
  margin-left: 100px;
  width: 100px;
  height: 100px;
  display: none; 
  display: none;
  border-radius: 10px;
  padding: 20px;
  opacity: 0.3;
  color: white;

}
#playlist{
  background-color: rgba(128, 0, 128, 0.498);
  margin: auto;
  width: 400px;
  height: 500px;
  display: none; 
  border-radius: 10px;
  padding: 20px;
  /* opacity: 0.4; */
  color: white;
  justify-content: center;
  text-align: center;
}

#playlist:hover{
  background-color: rgba(103, 6, 103, 0.498);
  margin: auto;
  width: 400px;
  height: 500px;
  display: none; 
  border-radius: 10px;
  padding: 20px;
  /* opacity: 0.4; */
  color: white;
  justify-content: center;
  text-align: center;
}
.profile{
opacity: 1;
border-radius: 10px;
}
.profile1{
opacity: 0.4;
}

.carbon--play-outline {
  display: inline-block;
  width: 2em;
  height: 2em;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32'%3E%3Cpath fill='%23000' d='M11 23a1 1 0 0 1-1-1V10a1 1 0 0 1 1.447-.894l12 6a1 1 0 0 1 0 1.788l-12 6A1.001 1.001 0 0 1 11 23m1-11.382v8.764L20.764 16Z'/%3E%3Cpath fill='%23000' d='M16 4A12 12 0 1 1 4 16A12 12 0 0 1 16 4m0-2a14 14 0 1 0 14 14A14 14 0 0 0 16 2'/%3E%3C/svg%3E");
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}
.carbon--next-outline {
  display: inline-block;
  width: 2em;
  height: 2em;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32'%3E%3Cpath fill='%23000' d='m16 8l-1.43 1.393L20.15 15H8v2h12.15l-5.58 5.573L16 24l8-8z'/%3E%3Cpath fill='%23000' d='M16 30a14 14 0 1 1 14-14a14.016 14.016 0 0 1-14 14m0-26a12 12 0 1 0 12 12A12.014 12.014 0 0 0 16 4'/%3E%3C/svg%3E");
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}
.carbon--previous-outline {
  display: inline-block;
  width: 2em;
  height: 2em;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32'%3E%3Cpath fill='%23000' d='m16 8l1.43 1.393L11.85 15H24v2H11.85l5.58 5.573L16 24l-8-8z'/%3E%3Cpath fill='%23000' d='M16 30a14 14 0 1 1 14-14a14.016 14.016 0 0 1-14 14m0-26a12 12 0 1 0 12 12A12.014 12.014 0 0 0 16 4'/%3E%3C/svg%3E");
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  margin-left: 60px;
}
.loader{
  display: block;
  position: relative;
  height: 32px;
  width: 120px;
  background: linear-gradient(#FFF 4px, transparent 0) no-repeat;
  background-position: 0 16px;
  box-sizing: border-box;
  overflow: hidden;
  margin-left: 135px;
}
.loader:before{
  content: '';
  position: absolute;
  left: 30px;
  bottom: 2px;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background: #242120;
  border:6px solid #FFF;
  box-sizing: border-box;
  animation: ballbns 70s linear infinite;
}

@keyframes ballbns {
  0% {  left: 0; transform: translateX(-100%); }
  100% {  left: 100%; transform: translateX(0%); }
}

.bi--three-dots-vertical {
  display: inline-block;
  width: 1.2em;
  height: 1.2em;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath fill='%23000' d='M9.5 13a1.5 1.5 0 1 1-3 0a1.5 1.5 0 0 1 3 0m0-5a1.5 1.5 0 1 1-3 0a1.5 1.5 0 0 1 3 0m0-5a1.5 1.5 0 1 1-3 0a1.5 1.5 0 0 1 3 0'/%3E%3C/svg%3E");
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  margin-left: 50px;
}

  
  @media screen and (max-width: 768px) {
    #div1{
      flex-direction: column;
     align-items: center;
     justify-content: center;
     text-align: center;
     padding: 20px;
    }
    
    #div1a{
      background-color: #ff3d00;
      width: 90px;
      height: 150px;
      border-radius: 45px;
      image-resolution: 100px;
      margin-left: 40px;
    }
    #div1b{
      background-color: transparent;
      color: gray;
      margin-left: 50px;
    }
    #playlist{
      background-color: rgba(128, 0, 128, 0.498);
      margin-left: 10px;
      margin-bottom: 200px;
      width: 320px;
      height: 400px;
      display: none; 
      border-radius: 10px;
      padding: 20px;
      /* opacity: 0.4; */
      color: white;
      justify-content: center;
      text-align: center;
    }
    .loader{
      display: block;
      position: relative;
      height: 32px;
      width: 120px;
      background: linear-gradient(#FFF 4px, transparent 0) no-repeat;
      background-position: 0 16px;
      box-sizing: border-box;
      overflow: hidden;
      margin-left: 105px;
    }
    .loader:before{
      content: '';
      position: absolute;
      left: 30px;
      bottom: 2px;
      width: 28px;
      height: 28px;
      border-radius: 50%;
      background: #FF3D00;
      border:6px solid #FFF;
      box-sizing: border-box;
      animation: ballbns 1.5s linear infinite;
    }
  }



